
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100% ;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

a{
  color: #444444;
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  line-height: 60px;
  background-color:#000;
}

.topics-index-page, .categories-show-page {
  .topic-list {
    a {
      color: #444444;
    }
    .meta {
      font-size:0.9em;
      color: #b3b3b3;
      a {
        color: #b3b3b3;
      }
    }

    hr {
      margin-top: 12px;
      margin-bottom: 12px;
      border: 0;
      border-top: 1px solid #dcebf5;
    }
  }
}

.users-show-page {
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }

  .nav-tabs {
    margin-bottom: 20px;

    >li.active > a {
      background-color: #fff;
    }
  }

  .list-group {
    .list-group-item {
      border: none;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;

      .meta {
        color: #b3b3b3;
      }
    }
  }

  .pagination {
    margin: 12px 0;
  }
}

@import "topic_body";

.topics-show-page {

  .card {
    padding: 15px;

    h1 {
      margin: 0.4em auto 0.6em;
      font-size: 28px;
      line-height: 38px;
    }
  }
}

